$bg-color: #FFFFFF;
$footer-color: #666666;
$footer-border-color: #000000;
$link-color: #666666;
$link-hover-color: #000000;
$link-border-color: #666666;
$h-border-color: #000000;

$nav-border-color: #CCCCCC;

$form-border-optional-color: #000000;
$form-border-required-color: #000000;
$form-label-color: #666666;
$form-button-background-color: #EEEEEE;
$form-button-background-hover-color: #AAAAAA;
$form-button-color: #000000;
$form-button-hover-color: #EFEFEF;
$form-button-border-color: #000000;
$form-button-border-hover-color: #333333;