html {
  font-size: 1.2em;
}

body {
  line-height: 1.5em;
  font-family: "CooperHewitt Book", sans-serif;
}

em,
b,
strong {
  font-style: normal;
  font-weight: bold;
  font-family: "CooperHewitt Semibold", sans-serif;
}

h1 {
  font-size: 1.4em;
  line-height: 1.8em;
  text-align: center;
  padding: 2em 0;
  margin: 0;
  font-family: "CooperHewitt Semibold", sans-serif;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

h2 {
  font-size: 1.15em;
  margin-top: 5em;
  padding-bottom: 0.5em;
  font-family: "CooperHewitt Semibold", sans-serif;
  border-bottom: 2px solid black;
}

h3 {
  font-size: 1.1em;
  margin-top: 2.5em;
  font-family: "CooperHewitt Semibold", sans-serif;
}

h4 {
  font-size: 1.05em;
  margin-top: 1.6em;
  font-family: "CooperHewitt Semibold", sans-serif;
}

h5 {
  font-size: 1em;
  margin-top: 1.6em;
  font-family: "CooperHewitt Semibold", sans-serif;
}

h6 {
  font-size: 0.9em;
  margin-top: 1.5em;
  font-family: "CooperHewitt Semibold", sans-serif;
}

ul, ol {
  padding-left: 1em;
}

li {
  margin-bottom: 0.6em;
}

blockquote {
  font-size: 1.15em;
  margin: 1.5em 2.5em;
  font-family: "CooperHewitt Book", sans-serif;
}

footer {
  font-size: 0.9em;
  font-family: "CooperHewitt Book", sans-serif;
  color: #666666;

  address {
    font-style: normal;
  }
}

a {
  &:link,
  &:visited {
    color: #666666;
    border-bottom: 1px solid #666;
    text-decoration: none;

    -webkit-transition: color 0.25s linear;
    -moz-transition: color 0.25s linear;
    -ms-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    transition: color 0.25s linear;
  }

  &:hover,
  &:focus {
    color: black;
    border-bottom: 0;
  }
}
